/* const buttonStyle= {
        fontSize: "16px",
        backgroundColor: "#00a5ab",
        width: "100px",
        margin: "10px",
        color: "white",
        padding: "15px",
        borderRadius: "30px"
} */

button {
    font-size: 16px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.counterButton {
    background-color: #00a5ab;
}

.count {
    font-size: 70px;
    padding: 20px;
}

.totalCount {
    color: #00a5ab;
    font-size: 70px;
}

.resetButton {
    background-color: rgba(105, 127, 76, 0.711);
}